<html>
    <head>
        <title>Smart Home control</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script language="javascript">
          function afficher() {
          document.getElementById('image').src={{ url_for('static', filename='up.png') }};
          }
          function effacer() {
          document.getElementById('image').src={{ url_for('static', filename='down.png') }};
          }
        </script>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Smart Home control</h1>
            </div>
            <div id="content">
                <form method="post"  action="{{ url_for('sendcommand') }}">
                  <label for="command">Please enter the wall-e command:</label>
                  <input type="text" name="command" /><br/>
                  <input type="submit" />
                </form>
            </div>
        </div>

      <table align="center" cellpadding="0">
        <td width="100">
          <div>Cliquer <a href="javascript:afficher()">ICI</a> pour afficher l'image.</div>
        </td>
        <td width="100" style="border:black solid 1px">
          <img src={{ url_for('static', filename='up.png') }} id="image">
        </td>
        <td width="100">
          <div>Cliquer <a href="javascript:effacer()">ICI</a> pour effacer l'image.</div>
        </td>
      </table>
    </body>
</html>
