<html>
    <head>
        <title>Smart Home control</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script language="javascript">
          function allume(i) {
          document.getElementById("image"+i).src='static/allume.png';
          }
          function eteint(i) {
          document.getElementById("image"+i).src='static/eteint.png';
          }
        </script>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Smart Home control</h1>
            </div>
            <div id="content">
                <form method="post"  action="{{ url_for('sendcommand') }}" target=hiddenFrame>
                  <label for="command">Please enter the wall-e command:</label>
                  <input type="text" name="command" /><br/>
                  <input type="submit" />
                </form>
            </div>
        </div>
      <iframe name="hiddenFrame" class="hide"></iframe>

      <div id="content">
      <table align="left" cellpadding="0">
        <tr>
        <td width="100">Light Living room</td>
        <td>
          <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
          <input type="hidden" id="left" name="command" value="LIGHT_LIVING_ROOM_ON"/>
          <input type="image" src="{{ url_for('static', filename='allume.png') }}">
          </form>
        </td>
        <td>
        <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
        <input type="hidden" id="left" name="command" value="LIGHT_LIVING_ROOM_OFF"/>
        <input type="image" src="{{ url_for('static', filename='eteint.png') }}">
        </form>
        </td>
        </tr>
        <tr>
        <td width="100">Light Kitchen</td>
        <td>
          <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
          <input type="hidden" id="left" name="command" value="LIGHT_KITCHEN_ON"/>
          <input type="image" src="{{ url_for('static', filename='allume.png') }}">
          </form>
        </td>
        <td>
        <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
        <input type="hidden" id="left" name="command" value="LIGHT_KITCHEN_OFF"/>
        <input type="image" src="{{ url_for('static', filename='eteint.png') }}">
        </form>
        </td>
        </tr>
        <tr>
        <td width="100">Light BedRoom</td>
        <td>
          <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
          <input type="hidden" id="left" name="command" value="LIGHT_BEDROOM_ON"/>
          <input type="image" src="{{ url_for('static', filename='allume.png') }}">
          </form>
        </td>
        <td>
        <form method="post" action="{{ url_for('sendcommand') }}" target="hiddenFrame">
        <input type="hidden" id="left" name="command" value="LIGHT_BEDROOM_OFF"/>
        <input type="image" src="{{ url_for('static', filename='eteint.png') }}">
        </form>
        </td>
        </tr>
        <tr>
        <td width="100">Lampe CHAMBRE <br>  <img src={{ url_for('static', filename='eteint.png') }} id="image3"></td>
        <td width="100"><div><a href="javascript:allume(3)"/>Allumer</div></td>
        <td width="100"><div><a href="javascript:eteint(3)"/>Eteindre</div></td>
        </tr>
      </table>
      </div>
    </body>
</html>
