<html>
    <head>
        <title>Smart Home control</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script language="javascript">
          function afficher() {
          document.getElementById('image').src='static/up.png';
          }
          function effacer() {
          document.getElementById('image').src='static/down.png';
          }
        </script>
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Smart Home control</h1>
            </div>
            <div id="content">
                <form method="post"  action="{{ url_for('sendcommand') }}">
                  <label for="command">Please enter the wall-e command:</label>
                  <input type="text" name="command" /><br/>
                  <input type="submit" />
                </form>
            </div>
        </div>

      <table align="left" cellpadding="0">
        <tr>
        <td width="100">Lampe SALON <br>  <img src={{ url_for('static', filename='up.png') }} id="image"></td>
        <td width="100"><div><a href="javascript:afficher()"/>Allumer</div></td>
        <td width="100"><div><a href="javascript:effacer()"/>Eteindre</div></td>
        </tr>
        <tr>
        <td width="100">Lampe SALON <br>  <img src={{ url_for('static', filename='left.png') }} id="image"></td>
        <td width="100"><div><a href="javascript:afficher()"/>Allumer</div></td>
        <td width="100"><div><a href="javascript:effacer()"/>Eteindre</div></td>
        </tr>
      </table>
      
    </body>
</html>
